﻿@model CredentialUserInterface.Models.CredentialModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete an account</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>CredentialModel</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CredentID)
        </dd>
        <dt class = "col-sm-2">
            Username
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            Password
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncryptPW)
        </dd>

        <dt class = "col-sm-2">
            Website Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteName)
        </dd>
        <dt class = "col-sm-2">
            Website URL
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
