﻿@model CredentialUserInterface.Models.CredentialModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

<div>
    <h4>Data stored on database</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CredentID)
        </dd>
        <dt class = "col-sm-2">
            Username
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            Password
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncryptPW)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EKey)
        </dd>*@
        <dt class = "col-sm-2">
            Website Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteName)
        </dd>
        <dt class = "col-sm-2">
            Website URL
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedServer)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
