﻿@model IEnumerable<CredentialUserInterface.Models.CredentialModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of accounts/passwords</h1>

<p>
    <a asp-action="Create">Add a new account</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                ID
            </th>*@
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EKey)
            </th>*@
            <th>
                Website Name
            </th>
            <th>
                Website URL
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedServer)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.CredentID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncryptPW)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.EKey)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteURL)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.TStamp)
        </td>
            <td>
            @Html.DisplayFor(modelItem => item.SelectedServer)
        </td>*@
        <td>
            @Html.ActionLink("Update", "Update", new { id = item.CredentID }) |  @*we chaged the primarykey comment here to id=item.CredentID *@
            @Html.ActionLink("Details", "Details", new { id = item.CredentID }) |@*we chaged the primarykey comment here to id=item.CredentID *@
            @Html.ActionLink("Delete", "Delete", new { id = item.CredentID })  @*we chaged the primarykey comment here to id=item.CredentID *@
        </td>
        </tr>
        }
            </tbody>
        </table>
