﻿@model CredentialUserInterface.Models.Update.UpdateRequest

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>UpdateRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CredentID" class="control-label"></label>
                <input asp-for="CredentID" class="form-control" />
                <span asp-validation-for="CredentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncryptPW" class="control-label"></label>
                <input asp-for="EncryptPW" class="form-control" />
                <span asp-validation-for="EncryptPW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncryptPWNew" class="control-label"></label>
                <input asp-for="EncryptPWNew" class="form-control" />
                <span asp-validation-for="EncryptPWNew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EKey" class="control-label"></label>
                <input asp-for="EKey" class="form-control" />
                <span asp-validation-for="EKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteName" class="control-label"></label>
                <input asp-for="WebsiteName" class="form-control" />
                <span asp-validation-for="WebsiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteURL" class="control-label"></label>
                <input asp-for="WebsiteURL" class="form-control" />
                <span asp-validation-for="WebsiteURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TStamp" class="control-label"></label>
                <input asp-for="TStamp" class="form-control" />
                <span asp-validation-for="TStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedServer" class="control-label"></label>
                <input asp-for="SelectedServer" class="form-control" />
                <span asp-validation-for="SelectedServer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
