﻿@model IEnumerable<CredentialUserInterface.Models.CredentialModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CredentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncryptPW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedServer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CredentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncryptPW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedServer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CredentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CredentID }) | @*we chaged the primarykey comment here to id=item.CredentID *@
                @Html.ActionLink("Delete", "Delete", new { id = item.CredentID })
            </td>
        </tr>
}
    </tbody>
</table>
